<html>

<head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="/static/homebrew.css"> -->
    <link rel="stylesheet" href="/static/tap.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>

{% macro heading(arg) %}
    {% if arg.state < 20.00 %}
        <div class="bar bar-critical" style='height:{{arg.state}}%;'></div>
    {% else if arg.state < 40.00 %}
        <div class="bar bar-warning" style='height:{{arg.state}}%;'></div>
    {% else %}
        <div class="bar" style='height:{{arg.state}}%;'></div>
    {% endif %}
{% endmacro %}
    

<body>
    <h1>Beer left in kegerator</h1>
    <div class="group">
        <div class="row">
        <div class="tap">
        <div class="title">{{tap_one.name|e }}</div>
        <div class=glass>
            <div class="foam"></div>
            <div class="beer"></div>
            <div class="bubble1"></div>
            <div class="bubble2"></div>
            <div class="bubble3"></div>
            <div class="value">{{tap_one.volume_left}}L</div>
         </div>
        </div>
        <div class="tap">
        <div class="title">{{tap_two.name|e }}</div>
        <div class=glass>
            <div class="foam"></div>
            <div class="beer"></div>
            <div class="bubble1"></div>
            <div class="bubble2"></div>
            <div class="bubble3"></div>
            <div class="value">{{tap_two.volume_left}}L</div>
         </div>
        </div>
        </div>
        <div class="row">
        <div class="tap">
        <div class="title">{{tap_three.name|e }}</div>
        <div class=glass>
            <div class="foam"></div>
            <div class="beer" style="height: 20%; background:rgb(203, 98, 0); z-index=1"></div>
            <div class="bubble1"></div>
            <div class="bubble2"></div>
            <div class="bubble3"></div>
            <div class="value">{{tap_three.volume_left}}L</div>
         </div>
        </div>
        </div>
    </div>
</body>
<script>
    setTimeout(function(){
       window.location.reload(1);
    }, 10000)
</script>
</html>
    
